elpa/
/recentf
/projectile-bookmarks.eld
/projectile.cache
/company-statistics-cache.el
/helm-doc.org
eshell/
.cask
/.mc-lists.el
elpa-old/
emojis
games
npm-debug.log
url/
/auto-save-list/
/magithub/
/network-security.data
/recentf~
/tramp
/transient/
